<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>Document</title>
</head>

<body>
<h1>Booking Care API</h1>

<div class="entity">

    <div class="title">User</div>
    <hr />
    <div class="api">
        <div class="api-http get">
            <div class="request">
                <div class="box">
                    <div class="method">GET</div>
                </div>

                <div class="path">/api/User/GetAllUser</div>
            </div>
        </div>
        <div class="api-http post">
            <div class="request">
                <div class="box">
                    <div class="method">POST</div>
                </div>

                <div class="path">/api/User/CreateNewUser</div>
            </div>
        </div>
        <div class="api-http put">
            <div class="request">
                <div class="box">
                    <div class="method">PUT</div>
                </div>

                <div class="path">/api/User/UpdateUserById/{Id}</div>
            </div>
        </div>
        <div class="api-http delete">
            <div class="request">
                <div class="box">
                    <div class="method">DELETE</div>
                </div>
                <div class="path">/api/User/DeleteUserById/{Id}</div>
            </div>
        </div>
    </div>
</div>
</body>

</html>