/* FILEPATH: /Users/nguyenvuong/Documents/HK232/CNPMNC/TestUISwagger/assets/css/styles.css */

/* Reset default styles */
body {
    margin: 0;
    padding: 30px;
}

/* Add your custom styles here */
.entity .title {
    font-size: 25px;
    font-weight: 600;
}

.entity .api .api-http {


    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #e1dfdf;
}



.entity .api .api-http .request {
    margin-top: 5px;
    display: flex;
    margin-left: 20px;
}

.entity .api .api-http .method {
    color: white;
    padding: 6px;
    font-weight: 600;
    border-radius: 5px;
    padding-left: 10px;
}

.get .request .method {
    background-color: #61affe;
    width: 70px;
}

.post .request .method {
    background-color: #49cc90;
    width: 70px;
}

.put .request .method {
    background-color: #fca12f;
    width: 70px;
}

.delete .request .method {
    background-color: #fa3e3e;
    width: 70px;
}

.entity .api .get {
    background-color: #ecf3fb;
    border: 1px solid #61affe;
}

.entity .api .post {
    background-color: #eaf6f0;
    border: 1px solid #49cc90;
}

.entity .api .put {
    background-color: #fbf2e8;
    border: 1px solid #fba030;
}

.entity .api .delete {
    background-color: #fbe8e8;
    border: 1px solid #fa3e3e;
}

.entity .api .api-http .request .path {
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
}

.entity .api .api-http .request .box {
    width: 70px;
}